.resetPassword{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.resetPassword{
    margin: auto;
}

.resetPassword h2{
    margin-bottom: 7px;
}

.resetPassword input{
    padding: 8px;
    font-size: 12px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    background-color: #f8f8ff;
    border: 1px solid #ccc;
    border-radius: 5px; 
    width: 300px;
    outline: none;
}

.resetPassword input:focus{
    border-color: #535bf2;
    box-shadow: 0 0 6px rgba(83, 91, 242, 0.3);
    background-color: #ffffff;
}

.resetPassword button{
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #646cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    margin-left: 5px;
}

.resetPassword button:hover{
    background-color: #535bf2;
} 


/* Base styles - Mobile (320px - 639px) */
.container {
  padding: 1rem;
  font-size: 14px;
}

/* 📱 Mobile */
@media (max-width: 767px) {
    .resetPassword{
        display: flex;
    }
    .resetPassword button{
        margin-top: 5px;
    }
}

/* 📱 Tablet */
@media (max-width: 1023px) {}

/* 💻 Laptop (default) */

/* 🖥️ Desktop */
@media (min-width: 1280px) {}

/* 🖥️ Ultra-wide */
@media (min-width: 1536px) {}
