.goUpBox{
    position: fixed;
    font-size: 1rem;
    right: 2rem;
    bottom: 2.2rem;
    z-index: 1000;
    width: 35px;
    height: 35px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    border-radius: 5px;
    filter: drop-shadow(0 40px 15px);
    transform: rotate(340deg);
    cursor: pointer;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goUpIcon{
    color: #ddd;
    font-size: 1.2rem;
}
.null{
    display: none;
}