.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px 0;
}

.formContent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    /* border: 2px solid #646cff;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px #ccc; */
}

.formHeader{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 7px;
}

.formField{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 15px; */
}

.formField label{
    font-size: 14px;
}

.formField input{
    padding: 8px;
    font-size: 12px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    background-color: #f8f8ff;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    width: 300px;
    outline: none;
}

.formField input:focus{
    border-color: #535bf2;
    box-shadow: 0 0 6px rgba(83, 91, 242, 0.3);
    background-color: #ffffff;
}

.formContent button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #646cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.formContent button:hover{
    background-color: #535bf2;
}

.formFooter{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.formFooter a{
    color: #646cff;
    text-decoration: none;
    margin-left: 10px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #888;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider span {
  padding: 0 12px;
  white-space: nowrap;
}

span.validationError{
    color: red;
    text-align: center;
    border-left: 3px solid red;
    margin: 3px 0;
}

.forgotPass{
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}


@media (max-width: 400px) {
    .formContent{
        padding: 20px;
        border: 1px solid #646cff;
        box-shadow: 0 1px 3px 1px #ccc;
    }

    .formField input{
        width: 100%;
    }
}  

