.profileSettings{
  display: flex;
}

.profile-settings {
  max-width: 48rem;        
  /* margin-left: auto;     */
  /* margin-right: auto; */
  padding: 1.5rem;  
  flex: 2;
}

/* space-y-8 equivalent */
.profile-settings > * + * {
  margin-top: 2rem;       /* 32px */
}

.profile-settings-title {
  font-size: 1.5rem;      /* text-2xl */
  font-weight: 600;       /* font-semibold */
  text-align: center;
}


/* LEFT */
.profileSettingsLeft{
  flex: .2;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #ffffff;
    padding: 30px;
}

.profileSettingsLTop{
   display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.profileSettingsLbCoverImg{
  width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: -40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.profileSettingsLProfileImg{
  width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profileSettingsLUsername{
  font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 5px;
}

.profileSettingsLUserTitle{
  font-size: 14px;
    color: #777777;
}

.profileSettingsUserBio{
  font-size: 13px;
    color: #555555;
    text-align: center;
    padding: 10px;
}

.profileSettingsLocation{
  font-size: 13px;
    color: #555555;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding-bottom: 10px;
}

.profileSettingsLocationIcon{

}